.box {
    width: 50%;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 50px;
    background-color: #F5F5F5;
    color: gray;
    vertical-align: middle;
    border-radius: 20px;
    font-size: 24;
    font-family: AmpleSoft;
}

.basic-drop-shadow {
    box-shadow: -8px -8px 16px rgba(255, 255, 255, 1), 8px 8px 16px rgba(0, 0, 0, 0.07);
}

.img_payu {
    width : 200;
    margin-bottom : 50px;
    border-radius: 50%;
}